<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmm6jSkctuQbzgDZ_vAFQgRyP3yujLO-o</string>
	<key>GCM_SENDER_ID</key>
	<string>456919492230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lab3.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>lab3-c3fa2</string>
	<key>STORAGE_BUCKET</key>
	<string>lab3-c3fa2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456919492230:ios:7996918b5d7c322c92d307</string>
</dict>
</plist>